.background-images {
    background-image: url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    width: 900px;
    height: 700px;
    padding: 10px 10px 10px 10px;
    color: black;
    padding-left: 5%;

}

.background-images h1 {
    font-size: 50px;
}

.watch-live {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 30, 0), tomato);
    padding: 15px 40px;
    border-radius: 5px;
    text-align: center;
}

.transfer {
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid black;
}

.tittle-decoration {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}

/*---------------
blogs styles
---------------*/
.blogs .blog-image img {
    width: 224px;
    height: 104px;
    margin-bottom: 30px;
}

.blog-tittle {
    margin-top: 30px;
}

.blog-info {
    display: flex;
}